@import '../../../Style/Var';

.reserv-banner {
    margin-top: $gap-xl;
    overflow: hidden;
    border-radius: $rounded-3xl;
    box-shadow: 0 0 25px rgba($color: $dark, $alpha: 0.2);

    &__text-container {
        position: relative;
        @include flex(center,flex-start,column);
        background-color: $primary;
        padding: 0 $gap-2xl !important;
        overflow: hidden;
        .reserv-banner__text{
            color: $white;
            margin-bottom: $gap-xl;
        }
        .reserv-banner__button{
            padding: $gap-sm $gap-xl;
            font: $font-lg $estedad-bold;
        }
        .bg-shape--1{
            top: -200px;
            right: -200px;
        }
        .bg-shape--2{
            bottom: -200px;
            left: -200px;
        }
    }
}

@include desktop-sm{
    .reserv-banner{
        &__text-container{
            .reserv-banner__text{
                font-size: $font-2xl;
                margin-bottom: $gap-lg;
            }
            .reserv-banner__button{
                padding: $gap-xs $gap-lg;
                font: $font-md $estedad-bold;
            }

        }
    }
}

@media screen and (max-width:767px) {
    .reserv-banner{
        &__text-container{
            padding: $gap-3xl $gap-2xl !important;
        }
    }
}