@import '../../../Style/Var';

.hero {
    position: relative;
    margin-bottom: 12rem;
&__content-container{
    z-index: 1;
}
    &__block {
        display: flex;

        &--text {
            overflow: hidden;
            position: relative;
            width: max-content;
            padding: 37% 15% 0 0;
            .heading__container {
                display: flex;
                max-width: 80%;
                .heading__highlight {
                    font: $font-5xl $estedad-black;
                    color: $primary-tint;
                }
                
                .heading {
                    font: $font-4xl $estedad-bold;
                }
            }
            
            .description {
                margin: $gap-xs 0 $gap-xl;
                max-width: 80%;
            }
            
            .button__container {
                z-index: 1;
                .button {
                    padding: $gap-sm $gap-xl;
                    font-size: $font-xl;

                    &:first-child {
                        margin-left: $gap-lg;
                    }
                }
            }
            .bg-shape--1{
                top: -17%;
                right: -20%;
            }
            .bg-shape--2{
                bottom: -7%;
                left: -15%;
            }
        }

    }
}

@include desktop-lg {
    .hero {
        &__block {
            &--text {
                padding: 25% $gap-lg 0 $gap-xs;

                .heading__container {
                    max-width: 90%;
                }

                .description {
                    max-width: 95%;
                }
            }

            &--image {
                width: 100%;

                .image__container {
                    .hero__image {
                        width: 100%;
                        max-height: 850px;
                    }
                }
            }
        }
    }
}

@include desktop-sm {
    .hero {
        &__block {
            &--text {
                padding: $gap-xl 0;
                width: 100%;
                @include flex(center, center, column);
                text-align: center;

                .heading__container {
                    width: 450px;
                    max-width: 90%;
                    margin-bottom: 0;
                }

                .description {
                    margin: $gap-xxs 0 $gap-lg;
                    width: 500px;
                    max-width: 90%;
                }
                .bg-shape--1{
                    top: -45%;
                    right: -22%;
                }
                .bg-shape--2{
                    bottom: -55%;
                    left: -15%;
                }
            }
        }
    }
}

@include tablet-lg {
    .hero {
        &__block {
            &--text {
                .heading__container {
                    .heading__highlight {
                        font: $font-4xl $estedad-black;
                    }

                    .heading {
                        font: $font-3xl $estedad-bold;
                    }
                }

                .button__container {
                    .button {
                        padding: $gap-xs $gap-lg;
                        font-size: $font-md;
                        border-radius: $rounded-md;
                    }
                }
                .bg-shape--1{
                    top: -60%;
                    right: -35%;
                }
                .bg-shape--2{
                    bottom: -75%;
                    left: -35%;
                }
            }
        }
    }
}

@include phone-md {
    .hero {
        &__block {
            &--text {
                .heading__container {
                    justify-content: center;

                    .heading__highlight {
                        font: $font-2xl $estedad-black;
                    }

                    .heading {
                        text-align: center;
                        font: $font-xl $estedad-bold;
                    }
                }

                .description {
                    font-size: $font-sm;
                }

                .button__container {
                    .button {
                        padding: $gap-xs $gap-md;
                        font-size: $font-sm;
                    }
                }
                .bg-shape--1{
                    top: -70%;
                    right: -65%;
                }
                .bg-shape--2{
                    bottom: -75%;
                    left: -65%;
                }
            }
        }
    }
}