@import '../../../Style/Var';

.blog {
    margin-top: $gap-3xl;

    &__heading {
        @include flex(inherit, center, column);
        text-align: center;

        .title {
            text-align: center;
            max-width: 470px;
        }

        .description {
            max-width: 500px;
        }
    }

    .posts__container {
        padding: $gap-sm $gap-3xl;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 20px;
    }

    &__post {
        background-color: $white;
        border: 1px solid $gray;
        box-shadow: 0 2px 8px 0 rgba($color: $dark, $alpha: 0.1), 0 1px 13px 0 rgba($color: $dark, $alpha: 0.1);
        border-radius: $rounded-2xl;
        overflow: hidden;
        @include transition(all, 0.3s, ease-in);

        &__image-container {
            position: relative;

            .post__image {
                width: 100%;
            }

            .post__tag {
                position: absolute;
                right: 20px;
                bottom: 20px;
                background-color: $primary;
                color: $white;
                font: $font-md $estedad-bold;
                padding: $gap-xs $gap-md;
                border-radius: $rounded-lg;
            }
        }

        &__text-container {
            padding: $gap-md $gap-md;

            .post__summary {
                margin: $gap-md 0;
                max-width: 80%;
                line-height: 2;
            }
        }

        .post__footer {
            border-top: 1px solid $gray;
            max-width: 90%;
            margin: 0 auto;
            padding: $gap-md $gap-md;
            display: flex;
            justify-content: space-between;
        }

        &:hover {
            border: 2px solid $primary;
            transform: translateY(-5px);
        }
    }
}

@include phone-md {
    .blog {
        .posts__container {
            padding: $gap-md;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}